.date-time-selection-container {
	margin-bottom: 16px;
}

.dateTimeForm {
	justify-content: flex-end;
}

.dateTimeTypography {
	text-align: right;
}

.dateTimeFormItem {
	margin: 0;
}

.dateTimeFormContainer {
	display: flex;
	gap: 0.1rem;
}
