.resetFormWrapper {
	display: flex;
	justify-content: center;
	width: 432px;
	flex: 1;

	.ant-card-body {
		width: 100%;
	}
}

.resetButtonContainer {
	margin-top: 1.8125rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.resetFormContainer {
	.ant-form-item {
		margin-bottom: 0;
	}
}
